<%- include('./partials/header') %>

<div class="container">
  <div class="about-section">
    <h1>About This Application</h1>
    <p>This Password Manager will build on the provided user management and authentication. Key functionality includes:</p>
    
    <ul>
      <li>Store passwords and associated data</li>
      <li>Remove and change passwords</li>
      <li>client and server side data verification</li>
      <li>Storage in mongoDB Atlas</li>
    </ul>

    <h1>Roadmap</h1>
    <ul>
        <li>Implement password sharing</li>
        <li>Implement password generator</li>
        <li>Implement adding friends</li>
        <li>Implement groups for shared passwords</li>
        <li>Implement password complexity requirements</li>
        <li>Implement password change history</li>
    </ul>
    
    <p>This app is optimised for ease of use and utility.</
  </div>
  
  
</div>

<%- include('./partials/footer') %>